/vendor
/node_modules
/public/storage
/config
.env
.env.example
/routes
/storage
Homestead.yaml
Homestead.json
server.php
/app/Http/Middleware



# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

